body{background: #1e90ff; font-family: verdana; color: #ffffff; padding 30px;}
h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
p{font-size: 14px; text-align: center;}

